[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
funmarket_pump = "BV6q3zDwjaXdcn3DmqroHbeNuTDxtrpyYXvGNeYec6Wy"

[programs.localnet]
funmarket_pump = "BV6q3zDwjaXdcn3DmqroHbeNuTDxtrpyYXvGNeYec6Wy"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
